@model List<University>
<h2>University Map</h2>
<div id="map" class="singleclick" style="width: 100%; height: 400px"></div>

<script>
 features = []
</script>
@foreach (var i in Model)
{
    <script>
    var long = '@i.Longitute'
    var lat = '@i.Latitude'
    features.push(new ol.Feature({
                geometry : new ol.geom.Point(ol.proj.transform([lat, long], 'EPSG:4326', new ol.source.OSM().getProjection())),
                labelPoint: new ol.geom.Point(ol.proj.transform([lat, long], 'EPSG:4326', new ol.source.OSM().getProjection())),
                name: 'My Point',
                size : 10
    }));
    
    </script>
}

<script type="text/javascript">
var observationsSourceVector = new ol.source.Vector({
            features
});
var observationsVectorLayer = new ol.layer.Vector({
            source: observationsSourceVector,
});
 var map = new ol.Map({
     layers: [
         new ol.layer.Tile({
                       source: new ol.source.OSM()
         }), observationsVectorLayer
     ],
     target: 'map',
     view: new ol.View({
         center: ol.proj.transform(['@Model[0].Latitude', '@Model[0].Longitute'], 'EPSG:4326', new ol.source.OSM().getProjection()),
         maxZoom: 18,
         zoom: 15
     })
 })
</script>
